<div class="footer-row">
  <div class="footer-block footer__about">
    <p>华科开放原子开源俱乐部是一个致力于促进开源文化发展、贡献优秀开源软件的活跃开源社区，
      我们坚信开源文化的重要性，相信共同的开源目标将会使我们变得更加强大和有影响力。</p>
  </div>
  <!-- set right -->
  <div class="footer__contact" style="text-align: right;">
    <!-- set left -->
    <div class="footer-block footer__extras" style="text-align: left;">
      <ul>
        <li>
          <a href="/wiki/intro/"><i class="fas fa-info-circle"></i> 关于我们</a>
        </li>
        <li>
          <a href="https://github.com/{{ site.repository }}"><i class="fab fa-github"></i> 本站仓库</a>
        </li>
      </ul>
    </div>
  </div>
  </div>
<style>
  .footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
    /* Add this line to reduce the vertical size of the footer */
  }
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 20px;
    list-style-type: none;
  }
  p {
    margin: 0;
    font-size: 0.8em;
    /* Add this line to reduce the font size of the paragraph text */
  }

  .footer-block {
    flex: 1;
  }
</style>