<div class="footer-row">
  <div class="footer-block footer__about">
    <p>华科开放原子开源俱乐部是一个致力于促进开源文化发展、贡献优秀开源软件的活跃开源社区，
      我们坚信开源文化的重要性，相信共同的开源目标将会使我们变得更加强大和有影响力。</p>
  </div>
  <div class="footer-block footer__extras">
    <div class="footer__contact">
      <ul>
        <li>
          <a href="/wiki/intro/"> 关于我们</a>
        </li>
        <li>
          <a href="https://github.com/{{ site.repository }}"><i class="fab fa-fw fa-github"></i> 本站仓库</a>
        </li>
        </ul>
    </div>
</div>
<style>
.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

p{
  margin: 0;
}

.footer-block {
  flex: 1;
}

</style>