name: CI Building               

on:                             
  pull_request:
    branches:
      - master  
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check code 
        uses: actions/checkout@v4

      - name: Install Ruby
        uses: ruby/setup-ruby@v1.221.0
        with:
          ruby-version: '3.1'
          bundler-cache: true
          cache-version: 0

      - name: Install dependencies
        run: bundle install 

      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v4

      - name: Jekyll enter the scene
        run: bundle exec jekyll build --baseurl "${{ steps.pages.outputs.base_path }}"
        env:
          JEKYLL_ENV: production
     
       